html, body {
  background-color: hsla(180,100%,80%,0.1);
}

.flex {
  display: flex!important;
}

.flex.align-end {
  align-items: flex-end;
}

.inline-block {
  display: inline-block;
}

.Page-header {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)),
  url('/img/banner-chiahua0515.jpg') center / cover;
  position: relative;
}

.Page-header .avatar.image {
  padding: 4px;
  background-color: #fff;
  position: relative;
  bottom: -50px;
}

.Page-header .flex .left,
.Page-subheader .flex .left,
#homepage .flex .left {
  width: 150px;
  flex-shrink: 0;
  flex-grow: 0;
}

.Page-header .flex .right {
  margin-bottom: 1rem;
}

.Page-subheader .flex .right {
  margin-top: 1rem;
}

.Page-header .flex .right,
.Page-subheader .flex .right,
#homepage .flex .right {
  margin-left: 1rem;
  flex-shrink: 1;
  flex-grow: 1;
}

#homepage .timeline {
  border-right: 4px hsla(0,0%,0%,0.3) solid;
}

@media only screen and (max-width: 767px) {
#homepage .flex .left {
  width: 6rem;
}
}
