html, body {
  background-color: hsla(44,100%,97%,1);
}

body {
  min-height: 100vh;
}

body>header,
body>footer {
  flex-shrink: 0;
  flex-grow: 0;
}

body>main {
  flex-shrink: 1;
  flex-grow: 1;
}

a, a:link, a:hover {
  color: inherit;
}

.flex {
  display: flex!important;
}

.flex.align-end {
  align-items: flex-end;
}

.flex.direction-column {
  flex-direction: column;
}

.inline-block {
  display: inline-block;
}

.Page-footer {
  text-align: center;
  color: #fff;
  padding: 1rem 0;
}

.Page-header {
  position: relative;
}

.Page-header .avatar.image {
  padding: 4px;
  background-color: #fff;
  position: relative;
  bottom: -50px;
}

.Page-header .flex .left,
.Page-subheader .flex .left,
#homepage .flex .left {
  width: 150px;
  flex-shrink: 0;
  flex-grow: 0;
}

.Page-header .flex .right,
.Page-subheader .flex .right,
#homepage .flex .right {
  margin-left: 1rem;
  flex-shrink: 1;
  flex-grow: 1;
}

.Page-header .flex .right {
  margin-bottom: 1rem;
}

.Page-subheader .flex .right {
  margin-top: 1rem;
}

#homepage .flex .left .timeline,
#homepage .flex .right {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#homepage .flex .right {
  margin-bottom: 1rem;
}

#homepage .timeline {
  border-right: 2px hsla(177,100%,35%,1) solid;
  text-align: right;
  padding-right: 1rem;
  margin-right: 1rem;
  position: relative;
  height: 100%;
}

#homepage .timeline.year {
  color: hsla(177,100%,35%,1);
}

#homepage .timeline.year:after {
  content: '';
  position: absolute;
  right: 0;
  top: 16px;
  width: 0.5rem;
  height: 2px;
  background-color: hsla(177,100%,35%,1);
}

#homepage .timeline:not(.year):after {
  content: '';
  position: absolute;
  right: -6px;
  top: 12px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px hsla(177,100%,35%,1) solid;
}

#redirect {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}

#redirect .url {
  padding: 1rem 0;
  font-size: 2rem;
}

@media only screen and (max-width: 767px) {
#homepage .flex .left {
  width: 6rem;
}
#homepage .ui.stackable.grid {
  margin-left: -1rem!important;
  margin-right: -1rem!important;
}
}
