---
og_title: 首頁
og_title_en: Home
---

<main id="homepage">

  {% for levelOneArray in site.data.projects %}

    {% for yearHash in levelOneArray %}
  <div class="ui flex container">
    <aside class="left">
      <div class="year timeline">
        {{ yearHash[0] }}
      </div>
    </aside>
  </div>

      {% for item in yearHash[1] %}
  <div class="ui flex container">
    <aside class="left">
      <div class="timeline">
        {{ item.date }}
      </div>
    </aside>
    <section class="right">
      <h2 class="ui medium header">
        {{ item.title }}

        {% if item.title_en %}
        <div class="sub header">
          {{ item.title_en }}
        </div>
        {% endif %}

      </h2>
      <div class="ui two column stackable grid">
        <div class="column">
          <p>
            {{ item.description }}
          </p>

        {% if item.description_en %}
          <p>
            {{ item.description_en }}
          </p>
        {% endif %}

        </div>
        <div class="column">
          <div class="ui celled link list">

        {% for link in item.link %}
            <a class="item" href="{{ link.url }}" target="_blank">
              <i class="linkify icon"></i>
              <span class="content">
                <span class="header">
                  {{ link.title }}
                </span>

          {% if link.title_en %}
                <span class="description">
                  {{ link.title_en }}
                </span>
          {% endif %}

              </span>
            </a>
        {% endfor %}

          </div>
        </div>
      </div>
    </section>
  </div>
      {% endfor %}
    {% endfor %}
  {% endfor %}

</main>
