<header class="Page-header" style="
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url(
  {% if page.og_image %}
    {{ page.og_image }}
  {% else %}
    '/img/banner-chiahua0515.jpg'
  {% endif %}
    ) center / cover;
">
  <div class="ui flex container">
    <div class="left">
      <img class="ui small bordered avatar image" src="/img/avatar-chiahua0515.png" />    
    </div>
    <div class="right flex align-end">
      <h1 class="ui inverted header">
        {{ site.data.site.name }}
        <span class="inline-block">
          {{ site.data.site.name_en }}
        </span>
      </h1>
    </div>
  </div>
</header>

<header class="Page-subheader">
  <div class="ui flex container">
    <div class="left"></div>
    <article class="right">
      {{ site.data.site.description }}
      <span class="inline-block">
        {{ site.data.site.description_en }}
      </span>
    </article>
  </div>
</header>

<hr class="ui hidden divider" />
